.profile_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

    border-bottom: 1px solid #D7DFE6;
}

@media screen and (max-width: 700px) {
    .profile_wrapper {

    }
}

@media screen and (max-width: 500px) {
    .profile_wrapper {
        flex-direction: column;
    }
}

