.post_wrapper {
    padding: 50px 0;
    flex-basis: 70%;
}

.writer {
    display: flex;
}

.name {
    font-size: 18px;
    font-weight: normal;
    margin: 0;

    color: #4B5E94;
}

.photo {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    border-radius: 50%;
    border: 1px solid #D7DFE6;
}

.date {
    margin: 8px 0;
    font-size: 16px;
    color: #9998A2;
}

.text {
    padding-left: 10px;
    border-left: 1px solid #D7DFE6;
}
