.main_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-basis: 78%;
}

@media screen  and (max-width: 936px){
    .main_wrapper {
        flex-basis: auto;
        margin-bottom: 100px;
    }
}

