.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0

}

.isFetching {
    width: 80px;
    height: 80px;

    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}
