.profile {
    padding-bottom: 20px;
}

.profile_name h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.profile_name p {
    margin: 8px 0;
    color: #9998A2;
}

.profile_name p:hover {
    cursor: pointer;
    color: #4B5E94;
    text-decoration: underline;
}

.profile_data {
    border-top: 1px solid #D7DFE6;
}

.profile_data p {
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
    color: #677894;
}

.profile_data span {
    color: #4B5E94;
    flex-basis: 60%;
}

.edit_btn {
    padding: 5px;
    margin-top: 30px;

    background: #D7DFE6;
    border-radius: 3px;
    border: none;
    color: #677894;
    cursor: pointer;
}

.edit_btn:hover {
    background: #E1E9F0;
}
