.main_nav {
    padding: 15px 10px;
    flex-basis: 20%;
    align-self: start;
}

.main_nav_inner {
    list-style: none;
}

.main_nav_inner li {
    padding: 5px 10px;
    border-radius: 4px;
}

.main_nav_inner li:hover {
    padding: 5px 10px;
    background: #DBE3EA;
}

.main_nav_inner a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}