
.App {
  box-sizing: border-box;
}

.main_style {
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}


/*footer*/
.footer {
  margin-top: 20px;
  background: #fff;
  height: 50px;
}





