
.App {
  box-sizing: border-box;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.main_style {
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.common_btn {
  padding: 5px;

  background: #D7DFE6;
  border-radius: 3px;
  border: none;
  color: #677894;
  cursor: pointer;
}

.common_btn:hover {
  background: #E1E9F0;
}

/*footer*/
.footer {
  margin-top: 20px;
  background: #fff;
  height: 50px;
}





